{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/exec", {
      "prepareCmd": "sed -i 's/<Version>.*<\/Version>/<Version>${nextRelease.version}<\/Version>/' Directory.Build.Props"
    }],
    ["@semantic-release/git", {
      "assets": ["changelog.md", "Directory.Build.Props"]
    }],
    "@semantic-release/github",
  ],
  "ci": false,
  "dryRun": true
}
